/* INPUT CSS BEGIN */

#divPass {
    height: 80px;
    margin-top: 30%;
    text-align: center;
}

#inpPassword {
    width: 99.4%;
    height: 100%;
    font-family: Monospace;
    font-size: larger;
    text-align: center;
    border-radius: 6px;
    border: none;
    color: #080808; 
    box-shadow: 1px 1px 10px;
}

::placeholder {
    font-family: Monospace;
    font-size: smaller;
    text-align: center;
}

/* INPUT CSS END */

/* FORM CSS BEGIN */

#divForm {
    height: 200px;
    margin-top: 5%;
    border: none;
    border-radius: 6px;
    box-shadow: 1px 1px 10px;
}

#optForm {
    width: 100%;
    height: 100%;
    font-family: Monospace;
}

h3 {
    padding-left: 25px;
    padding-top: 15px;
    font-size: 15px;
}

.divSelect {
    width: 150px;
    height: 100px;
    position: relative;
    margin-left: 5%;
    padding-left: 7px;
    margin-top: 6%;    
}

#setLength {
    width: 50%;
    height: 35%;
    margin-top: 10%;
    margin-left: 20%;
    border: 2px solid #E8E8E8;
    background-color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
}

.listCheckbox {
    margin-left: 60%;
    margin-top: -30%;    
}

.labCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    padding-top: 2px;
    margin-bottom: 8px;
    margin-top: 6%;
    cursor: pointer;
    font-size: 13px;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.divCont input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {  
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: #eee;
}

.labCheck input:checked ~ .checkmark {
    background-color: red;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.labCheck input:checked ~ .checkmark:after {
    display: block;
}

.labCheck .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* FORM CSS END */   

/* BUTTON CSS BEGIN */     

#divButt {
    height: 50px;
    margin-top: 7%;
    text-align: center;
}

#genButton {
    width: 40%;  
    height: 100%;
    background-color: red;
    color: #FFFFFF;   
    border: none;
    border-radius: 25px;
    font-size: 16px; 
    font-family: Monospace; 
    cursor: pointer;
}

/* BUTTON CSS END */